<p>Hello {{ firstName }} {{ lastName }} </p>
<p>If you forgot your password on the Count On Me App, please click te following link:</p>
<a href="{{ url }}">Reset Password</a>
<p>If you did not request this email, you can safely ignore it.</p>